<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

    <body>
    <h1> Hello world</h1>
    <h1>hello user</h1>

    <div class="row">
    <label class="col-md-2">Name</label>
    <p class="col-md-4"><span th:text="${indexObj.name}" /></p>
</div>


<div class="row">
    <label class="col-md-2">Properties</label>
    <p class="col-md-4"><span th:text ="${indexObj.properties}"/></p>
    <label class="col-md-2">Color</label>
    <p class="col-md-4"><span th:text ="${indexObj.color}"/></p>
</div>
</body>
</html>